<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hệ thống quản lý sức khỏe</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 shadow-lg me-1" style="background-color: #fff !important;">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">				
            
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      
                <li class="nav-item">
                    <a href="/" class="nav-link align-middle px-0 link-dark fw-bold">
                        <i class="fs-4 bi bi-list"></i> <span class="ms-1 d-none d-sm-inline">DANH SÁCH BỆNH NHÂN</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/lichkham" class="nav-link align-middle px-0 link-dark fw-bold">
                        <i class="fs-4 bi bi-calendar-event"></i> <span class="ms-1 d-none d-sm-inline">LỊCH KHÁM BỆNH</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="/lichuongthuoc" class="nav-link align-middle px-0 link-dark fw-bold">
                      <i class="fs-4 bi bi-card-text"></i> <span class="ms-1 d-none d-sm-inline">LỊCH UỐNG THUỐC</span>
                  </a>
              </li>
                <li class="nav-item ">
                    <a href="/hoidap_bacsi" class="nav-link align-middle px-0 link-dark fw-bold">
                        <i class="fs-4 bi bi-reply"></i> <span class="ms-1 d-none d-sm-inline">PHẢN HỒI</span>
                    </a>
                </li>				          
      
                <hr>
                <li class="nav-item">
                            <div class="fixed-bottom m-3 fw-bold link-dark">
                                <i class="bi bi-person-fill"></i>
                                <%=un%> |
                                    <a style="text-decoration: none" class="text-danger fw-bold" href="/thoat">Đăng Xuất</a>
                            </div>
                        </li>
            </ul>             
    
            
        </div>
    </div>
    <div class="col card" style="background-color: #F2F3F4">
        <div class="card-body">
          <h2 class="card-title text-center">THÔNG TIN BỆNH NHÂN</h2>
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="uploads/<%= benhnhan.Avatar %>" width="200" class="mx-auto d-block avatar" />
              </div>
              <div class="col-8">
                <div class="card">
                  <div class="card-header">Chỉ Số Sức Khỏe</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Nhịp Tim</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">
                          <%= Nhiptim %> nhịp/phút
                        </p>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Huyết Áp</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">
                          <%= HATamThu %> / <%= HATamTruong %> mmHg
                        </p>
                      </div>
                    </div>
                    <hr />

                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">SpO2</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">
                          <%= SpO2 %> %
                        </p>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Cân Nặng</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">
                          <%= benhnhan.CanNang %> kg
                        </p>
                      </div>
                    </div>
                    <hr />
                    <% if(tinhtrang=="Bất thường" ) {%>
                      <div class="row bg-danger text-white">
                        <%} else {%>
                          <div class="row">
                            <%}%>

                              <div class="col-sm-3">
                                <p class="mb-0">Tình Trạng</p>
                              </div>
                              <div class="col-sm-9">
                                <p class="mb-0">
                                  <%= tinhtrang %>
                                </p>
                              </div>
                          </div>
                          <hr />
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="card m-3">
              <div class="card-header">Thông Tin Cá Nhân</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Mã Bệnh Nhân</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0 mabenhnhan">
                      <%= benhnhan.MaBenhNhan %>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Họ Tên</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0 tenbenhnhan">
                      <%= benhnhan.TenBenhNhan %>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Giới Tính</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= benhnhan.GioiTinh %>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Ngày Sinh</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= benhnhan.NgaySinh %>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Số Điện Thoại</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= benhnhan.SoDienThoai %>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= benhnhan.Email %>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Địa Chỉ</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= benhnhan.DiaChi %>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Số Điện Thoại Người Thân</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= benhnhan.SoDienThoaiNguoiThan %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row" hidden>
                  <div class="col-sm-3">
                    <p class="mb-0">Kinh Độ</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0 lat">
                      <%= benhnhan.Lat %>
                    </p>
                  </div>
                </div>
                <div class="row" hidden>
                  <div class="col-sm-3">
                    <p class="mb-0">Vĩ Độ</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0 lng">
                      <%= benhnhan.Long %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card m-3">
            <div class="card-header">Biểu Đồ Nhịp Tim</div>
            <div class="card-body">
              <div class="container">
                <canvas id="myChart"></canvas>
              </div>
            </div>
          </div>
          <% bdnhiptim.forEach(function(bdnt) { %>
            <p data-foo="<%= bdnt %>" hidden></p>
            <% }); %>
              <hr />

              <div class="card m-3">
                <div class="card-header">Biểu Đồ SpO2</div>
                <div class="card-body">
                  <div class="container">
                    <canvas id="myChartSpO2"></canvas>
                  </div>
                </div>
              </div>
              <hr>

              <div class="card m-3">
                <div class="card-header">Biểu Đồ Huyết Áp</div>
                <div class="card-body">
                  <div class="container">
                    <canvas id="myChartBloodPressure"></canvas>
                  </div>
                </div>
              </div>
              <hr>

              <div class="card m-3">
                <div class="card-header">Vị Trí Của Bệnh Nhân</div>
                <div class="card-body">
                  <div id="map" style="height: 500px"></div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    setInterval(() => {
      location.reload();
    }, 60000);
  </script>
  <!-- Script vị trí -->
  <script>

    const lat = document.querySelector('.lat').innerHTML;
    const lng = document.querySelector('.lng').innerHTML;
    const ma = document.querySelector('.mabenhnhan').innerHTML;
    const ten = document.querySelector('.tenbenhnhan').innerHTML;
    const avatar = document.querySelector('.avatar').src;
    console.log(avatar);

    var map = L.map('map').setView([lat, lng], 16);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var circle = L.circle([lat, lng], {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5,
      radius: 500
    }).addTo(map);

    L.marker([lat, lng], {
      title: "Vị trí bệnh nhân",
    }).addTo(map).bindPopup('<h6>ID Bệnh Nhân: ' + ma + '<br>' + ' Tên Bệnh Nhân: ' + ten + '</h6><img style="width:100px;" src=' + avatar + '>');

    // var popup = L.popup({
    //   closeOnClick: false
    // })
    // .setLatLng([lat, lng])
    // .setContent('<h6>Id: ' + ma +'<br>'+ ' Name: ' + ten + '</h6>')
    // .openOn(map);

  </script>

  <!-- Script biểu đồ -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Script biểu đồ nhịp tim -->
  <script>
    const ctx = document.getElementById('myChart');

    var a = document.querySelectorAll('[data-foo]');
    let datanhiptim = [];
    for (var i in a) if (a.hasOwnProperty(i)) {
      datanhiptim[i] = a[i].getAttribute('data-foo');
    }
    console.log(datanhiptim);
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ Nhật'],
        datasets: [{
          label: 'Nhịp tim',
          data: datanhiptim,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <!-- Script biểu đồ SpO2 -->
  <script>
    const ctx1 = document.getElementById('myChartSpO2');

    var a = document.querySelectorAll('[data-foo]');
    let dataspo2 = [];
    for (var i in a) if (a.hasOwnProperty(i)) {
      dataspo2[i] = a[i].getAttribute('data-foo');
    }
    console.log(dataspo2);
    new Chart(ctx1, {
      type: 'line',
      data: {
        labels: ['Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy', 'Chủ nhật'],
        datasets: [{
          label: 'Biểu Đồ SpO2',
          data: dataspo2,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

  <!-- Script biểu đồ Huyết áp -->

  <script>
    const ctx2 = document.getElementById('myChartBloodPressure');

    var a = document.querySelectorAll('[data-foo]');
    let datahuyetap = [];
    for (var i in a) if (a.hasOwnProperty(i)) {
      datahuyetap[i] = a[i].getAttribute('data-foo');
    }
    console.log(datahuyetap);
    new Chart(ctx2, {
      type: 'line',
      data: {
        labels: ['Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy', 'Chủ nhật'],
        datasets: [{
          label: 'Biểu Đồ Huyết Áp',
          data: datahuyetap,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</body>

</html>